*psd filter=lfs diff=lfs merge=lfs -text
Assignment3 filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
C:/Users/kavin/OneDrive/Desktop/Data[[:space:]]ritz[[:space:]]ML[[:space:]]work/Myproject/Data-ritz-project/Datasets/HISTORICAL_DATA/HISTORICAL_DATA1 filter=lfs diff=lfs merge=lfs -text
